body,
html {
  color: #fff;
  background: black;
}

#time {
  font-size: 7rem;
  font-weight: bold;
}

.App {
  margin-top: 8rem;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

#icon {
  font-size: 9rem;
}

#weather {
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
